---
//@ts-nocheck
import coreValues from "@data/coreValues.json";
const values = coreValues.values;
console.log(coreValues);
---

<section class="features">
  <div class="panel">
    <div class="text">
      <p class="caps">Growing with our clients</p>
      <h1>{coreValues.title}</h1>
      <p>{coreValues.subtitle}</p>
    </div>
    <a href={coreValues.button.link} class="cta3">{coreValues.button.text}</a>
  </div>
  <div class="values">
    {
      values.map((value) => (
        <div class="value">
          <div class="icon">
            <div data-icon={value.icon} />
          </div>
          <h2>{value.title}</h2>
          <p>{value.description}</p>
          <a href={value.link.url} class="valueLink">
            {value.link.text}
          </a>
        </div>
      ))
    }
  </div>
</section>

<style>
  section.features {
    --sectionPad: 20vh 0;

    padding: var(--sectionPad);
    grid-column: 1 / 5;
    background-color: var(--primary03);
    --textcol1: var(--secondary02);
    --textcol2: var(--secondary02);
    display: grid;
    grid-template-columns: subgrid;
    > * {
      grid-column: 2 / 4;
    }
    .panel {
      display: flex;
      justify-content: space-between;
      .text {
        width: 40vw;
      }
      a.cta3 {
        margin-top: auto;
        padding: var(--space-xs) var(--space-m);
      }
    }
    .values {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

      margin-top: var(--space-m);
      gap: var(--space-m);
      .value {
        padding: var(--space-m) var(--space-s);
        background-color: var(--secondary02);
        --textcol1: #595566;
        --textcol2: var(--primary03);
        height: fit-content;
        border-radius: 20px;

        & > :not(:first-child) {
          /* background-color: red; */
          display: block;
          margin-top: var(--space-xs);
        }

        a.valueLink {
          margin-top: var(--space-m);
          display: flex;

          color: var(--textcol2);

          font-size: calc(var(--step-0) * 0.85);
          /* font-size: var(--step-0); */

          font-weight: 600;
          &::after {
            content: "";
            background-color: var(--textcol2);
            mask-image: url(../icons/arrow--right.svg);
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center;
            display: block;
            margin-top: auto;
            margin-bottom: auto;
            height: calc(var(--step-0) * 0.8);
            aspect-ratio: 1 / 1;
            margin-left: var(--space-2xs);
          }
        }

        .icon {
          background-color: var(--primary03);
          height: calc(var(--space-xl) * 0.85);
          aspect-ratio: 1;
          margin-bottom: var(--space-s);
          mask-repeat: no-repeat;
          mask-size: contain;
          mask-position: center;
          border-radius: 1000px;
          overflow: visible;

          > * {
            background-color: var(--secondary02);
            height: 100%;
            aspect-ratio: 1;
            margin-bottom: var(--space-s);
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center;
            border-radius: 1000px;
            transform: scale(0.6);

            &[data-icon="layers"] {
              mask-image: url(../icons/layers.svg);
            }
            &[data-icon="bars"] {
              mask-image: url(../icons/bars.svg);
            }
            &[data-icon="globe"] {
              mask-image: url(../icons/globe.svg);
            }
            &[data-icon="gear"] {
              mask-image: url(../icons/gear.svg);
            }
          }
        }
      }
    }

    @media (max-width: 1290px) {
      .values {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-auto-flow: row;
        .value {
          height: 100%;
        }
      }
    }

    @media (max-width: 590px) {
      .panel {
        display: block;
        .text {
            width: 100%;
            margin-bottom: var(--space-s);

        }
      }

      .values {
        display: flex;
        flex-direction: column;
      }
    }
  }
</style>
<script></script>
